html, body {
    height: 100%;
   }

body {
    font-family: "PT Sans", sans-serif;
    margin: 0px;
}
                        /*header*/
header {
    background-color:#BCBBBB;
    text-decoration:none;
}
.logo_con {
    display: flex;
    font-size: 1em;
    flex-wrap: wrap;
    justify-content: center;
    width: 30%;
}
.logo {  
    width: 90%; 
    margin: 10px auto;
}

header a {
    text-decoration: none;
    color: black;   
}

.page-navigation {
   margin: 10px 10px;
}
.nav-list {
    padding: 0;
    display: flex;
    justify-content: space-between;
 }
.nav-item {
   display: inline; 
}

                    /*main*/
main {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 20px 20px;
    font: 20px sans-serif;
}
main img {
    margin: 0 auto;
    display: block;
    width: 98%;   
}
                    /*footer*/
footer {
    margin: 0 20%;
    flex-shrink: 0;
}
footer img {
    width: 50px;
}
footer a {
    text-decoration: none;
    color: black;
}
.footer-social-list {
    display: flex;
    justify-content: space-between;
    padding: 0;
}
.footer-social-item {
    display: inline;    
}
@media  (max-width: 400px) {
    .nav-list {flex-direction: column;}
    .nav-item {margin: 5px 10px;}
    .burger {width: 30%;
    flex-wrap: nowrap;}

}

