html, body {
    height: 100%;
   }
body {
    font-family: "PT Sans", sans-serif;
    height:100%;
    margin: 0px;
    display: flex;
    flex-direction: column;
}
header {
    background-color:#BCBBBB;
    display:flex;	
    text-decoration:none;
    flex-wrap: wrap;
}
header img {
    height: 150px;
}
header a {
    text-decoration: none;
    color: black;
    display: flex;
}
.logo_con {
    width: 100%;
    margin-top: 10px;
}
.nav-list {
    visibility: hidden;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.nav-item {
    display: inline;    
}
main {
    margin: 20px 20px;
    font: 20px sans-serif;
}
main img {
    margin: 0 auto;
    display: block;
    width: 80%;
   
}
footer {
    margin: 0 20%;
    flex-shrink: 0;
}
footer img {
    width: 50px;
}
footer a {
    text-decoration: none;
    color: black;
}
.footer-social-list {
    display: flex;
    justify-content: space-between;
    padding: 0;
}
.footer-social-item {
    display: inline;    
}
