html, body {
    height: 100%;
   }
body {
    font-family: "PT Sans", sans-serif;
    height:100%;
    margin: 0px;

}
                        /*header*/
header {
    background-color:#BCBBBB;
    display: flow-root; 
    text-decoration:none;

}
header img {
    height: 150px;
}
header a {
    text-decoration: none;
    color: black;
   
}
.logo_con {
    width: 100%;
    margin-top: 10px;
}
.page-navigation {
}
.nav-list {
    padding: 0;
    display: flex;
    justify-content: space-around;
 }
.nav-item {
   display: inline; 
}
                    /*main*/
main {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 20px 20px;
    font: 20px sans-serif;
}
main img {
    margin: 0 auto;
    display: block;
    width: 800px;   
}
                    /*footer*/
footer {
    margin: 0 20%;
    flex-shrink: 0;
}
footer img {
    width: 50px;
}
footer a {
    text-decoration: none;
    color: black;
}
.footer-social-list {
    display: flex;
    justify-content: space-between;
    padding: 0;
}
.footer-social-item {
    display: inline;    
}
/*mobile mode*/